@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome To Photoram</h1>
    <img src="https://th.bing.com/th/id/R81473ebc1df3b9efc09a41718f459f2d?rik=kbuyDEvuDlRfTg&riu=http%3a%2f%2ffarm9.staticflickr.com%2f8329%2f8115228125_e0da12d8fb_z.jpg&ehk=mQtdwrSLY5IF2tE4JhM5xqdWEOsydE1btiZQ3QHf4uc%3d&risl=&pid=ImgRaw" style="width: 50%; height: 50%;" />


</div>