@model Photosphere.Models.Photo

@{
    ViewData["Title"] = "AddToComment";
}

<h1>View</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToComment" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FileName" />
            <input type="hidden" asp-for="FileType" />
            <input type="hidden" asp-for="Manufacturer" />
            <input type="hidden" asp-for="Model" />
            <input type="hidden" asp-for="ExposureTime" />
            <input type="hidden" asp-for="FStop" />
            <input type="hidden" asp-for="FocalLength" />
            <input type="hidden" asp-for="MaxAperture" />
            <input type="hidden" asp-for="ExposureBias" />
            <input type="hidden" asp-for="Width" />
            <input type="hidden" asp-for="Height" />
            <input type="hidden" asp-for="AffectedFocalLength" />
            <input type="hidden" asp-for="Favourite" />
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
